.App {
  text-align: center;
  background: red;
  height: 100%;
  background-image: -moz-linear-gradient(45deg, #e410a6 0%, #fe4873 25%, #fe8d73 50%, #ffb55a 75%, #ffdf94 100%); /* FF3.6-15 */
  background-image: -webkit-linear-gradient(45deg, #e410a6 0%,#fe4873 25%,#fe8d73 50%,#ffb55a 75%,#ffdf94 100%); /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(0deg, #e410a6 0%,#fe4873 25%,#fe8d73 50%,#ffb55a 75%,#ffdf94 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e410a6', endColorstr='#ffdf94',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.App-container {
  text-align: center;
  padding: 2em;
  background: #ffffff96;
  margin: 2em;
  border-radius: 1em;
  margin-top: 5rem;
}

.App-header {
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
  color: #4C4C4C;
  background: #482b6de8;
  position: fixed;
  left: 0;
  right: 0;
  height: 70px;
}

.App-Navigation {
  display: flex;
  flex-basis: 45%;
  justify-content: space-between;
}

.App-footer {
  font-size: 0.5rem;
  font-weight: 200;
  color: #fff;
  text-align: right;
  padding: 0 4em;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}

.footer-icon {
  vertical-align: middle;
}

.logo {
  width: 130px;
  height: 60px;
  align-self: center;
}
.noMatch h1 {
  font-size: 5em;
  color: #fe4873;
  margin: 0;
}
.noMatch h3 {
  color: #464646;
  margin: 0;
}
.noMatch-Button {
  margin-top: 2em;
}
.noMatch-Button button {
  font-size: 1.5em;
  color: #fff;
  background: #482c6d;
}
.noMatch-Button a{
  color: #fff;
  text-decoration: none;
}
