.App {
  text-align: center;
  position: relative;
  height: 100%;
}

.App-container {
  text-align: center;
  padding: 2em;
  background: #ffffff96;
  margin: 2em;
  border-radius: 1em;
}

.App-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 2em;
  color: #4C4C4C;
}

.App-Navigation {
  display: flex;
  flex-basis: 50%;
  justify-content: space-between;
}

.App-footer {
  font-size: 0.5rem;
  font-weight: 200;
  color: #fff;
  text-align: right;
  padding: 1em;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-right: 2em;
  position: absolute;
  bottom: -4em;
}

.footer-icon {
  vertical-align: middle;
}

.logo {
  width: 250px;
}
.noMatch h1 {
  font-size: 5em;
  color: #fe4873;
  margin: 0;
}
.noMatch h3 {
  color: #464646;
  margin: 0;
}
.noMatch-Button {
  margin-top: 2em;
}
.noMatch-Button button {
  font-size: 1.5em;
  color: #fff;
  background: #482c6d;
}
.noMatch-Button a{
  color: #fff;
  text-decoration: none;
}
