html {
  background: #ffb55a;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-color:#e410a6;
  font-family: sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}
.container {
  padding: 0.2em;
}
.title {
  font-weight: 400;
  color: #4C4C4C;
}
.input {
  font-size: 1em;
  outline: none;
  padding: 0.5em;
}
.field {
  margin: 1em 0;
}
.med-avatar {
  width: 100px;
  height: 100px;
}
.small-avatar {
  width: 45px;
  height: 45px;
  align-self: center;
}
.center {
  margin: 0 auto;
}
.sub-container {
  padding: 2em;
}
.button {
  margin-top: 3em;
}
.Button-Link {
  color: #FFF;
  text-decoration: none;
}
.Back {
  font-size: 4em;
  vertical-align: middle;
  text-align: left;
  height: 1em;
  display: flex;
  align-items: center;
  color: #fff;
}
.active {
  text-decoration: underline;
}
