body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  background: #e410a6; /* Old browsers */
  background: -moz-linear-gradient(45deg, #e410a6 0%, #fe4873 25%, #fe8d73 50%, #ffb55a 75%, #ffdf94 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #e410a6 0%,#fe4873 25%,#fe8d73 50%,#ffb55a 75%,#ffdf94 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #e410a6 0%,#fe4873 25%,#fe8d73 50%,#ffb55a 75%,#ffdf94 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e410a6', endColorstr='#ffdf94',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.logo {
  width: 200px;
}
.container {
  padding: 0.2em;
}
.title {
  font-weight: 400;
  color: #4C4C4C;
}
.input {
  font-size: 1em;
  outline: none;
  padding: 0.5em;
}
.field {
  margin: 1em 0;
}
